form {
	display: inline;
}
pre{
	height: 20em;
}
table td {
	border-style: solid;
    text-align: center;
    vertical-align: bottom;
    padding: 10px
}

.ck.ck-editor {
    max-width: 1500px;
}
.ck-editor__editable {
    min-height: 300px;
}
  .uploadResult{
	width:100%;
	background-color: gray;
 }
 .uploadResult ul{
 	display:flex;
 	flex-flow: row;
 	justify-content: center;
 	align-items: center;
 }
 .uploadResult ul li{
 	list-style: none;
 	padding: 10px;
 	align-content: center;
 	text-align: center;
 }
 .uploadResult ul li img{
 	width: 100px;
 }
 .uploadResult ul li span{
 	color:white;
 }
.bigPictureWrapper{
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index: 100;
	background:rgba(255,255,255,0,5);
}
.bigPicture{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bigPicture img{
	width:600px;
}

.img-div{
	text-align: center;
	margin-right: auto;
	margin-left: auto
	
}
.text-div{
	text-align: center;
	padding-right: 20px;
	padding-left: 10px;
}

#likeBtn{
	background-image: url('/resources/img/like.png'); 
	background-color: transparent; 
    background-repeat: no-repeat;  
    border: solid 1px;            
    height: 25px;           
    padding-left: 25px;     
    vertical-align: middle; 
}
#dislikeBtn{
	background-image: url('/resources/img/dislike.png'); 
	background-color: transparent; 
    background-repeat: no-repeat;  
    border: solid 1px;            
    height: 25px;           
    padding-left: 25px;     
    vertical-align: middle; 
}